# UI
streamlit==1.25.0

# pull CPU-only PyTorch wheels
-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.0.1+cpu
torchvision==0.15.2+cpu

# Grad-CAM
pytorch-grad-cam==1.4.0

# other deps
numpy
matplotlib
Pillow
